@charset "UTF-8";
/* CSS Document */

/* --------------- COMMON STYLES NOT RELATED TO SELECTRO ---------------- */

 *{
    margin:0;
    padding:0;
}

html, body{
    position:relative;
    width:100%;height:100%;
    border:none 0;
    overflow:auto;
}

html{
    font-family:"Open Sans Condensed", sans-serif;
    font-size:12px;
    color:rgb(255,255,255);
}

body{
    background:rgb(0,0,0);
}

h1{
    font-family:"Open Sans Condensed", sans-serif;
    font-size:2.2em;
    letter-spacing:2px;
    font-weight:300;
    padding:0 0 20px 0;
    margin:0 0 30px 0;
    text-align:center;
    border-bottom:rgba(255,255,255,0.2) 1px solid;
}

form{
    display:block;
    position:relative;
    overflow:auto;
    padding:20px;
    margin:60px auto;
    width:500px;
    background:rgba(120,120,120,0.3);
    border-radius:5px;
}

label{
    font-size:1.6em;
    margin-top:10px;
    float:left;
    clear:left;
    width:80px;
}

div.submit-wrap{
    float:left;
    clear:both;
    width:100%;
    overflow:auto;
    margin:80px 0 0;
}

input[type="submit"]{
    float:right;
    width:130px;
    border-radius:3px;
    background:rgb(47,91,255);
    color:rgb(255,255,255);
    text-shadow:0 -1px 0 #000;
    padding:14px 0 15px;
    text-align:center;
    font-family:"Open Sans Condensed", sans-serif;
    font-size:1.4em;
    letter-spacing:1px;
    border:none 0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    outline:none;
    cursor:pointer;
}

/* --------------- DEMO SPECIFIC SELECTRO STYLES ---------------- */

div.selectro-wrap{
    float:left;
    margin:4px 0 10px;
}

div.selectro-options{
    max-height:140px;
    overflow:auto;
}

/* --------------- SELECTRO BASE STYLES ---------------- */

div.selectro-wrap *{
    box-sizing:border-box;
}

div.selectro-wrap{
    box-sizing:border-box;
    /*display:inline-block;*/
    width:200px;
    /*margin:30px 10px;*/
}

div.selectro{
    background:rgb(255,255,255);
    border:rgb(180,180,180) 1px solid;
    border-radius:3px;
    color:rgb(80,80,80);
    padding:6px 14px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
    font-size:1.5em;
    letter-spacing:0.1em;
}

div.selectro span.selectro-label{
    color:rgb(80,80,80);
}

div.selectro span.selectro-label.default{
    color:rgba(80,80,80,0.6);
}

div.selectro span.selectro-arrow{
    margin:9px 0 0 9px;
    float:right;
}

div.selectro.selected{
    border-radius:3px 3px 0 0;
    border-bottom-color:rgb(222,222,222);
}

div.selectro-options{
    background:rgb(255,255,255);
    border-color:rgb(180,180,180);
    border-style:solid;
    border-width:0 1px 1px 1px;
    border-radius:0 0 3px 3px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
    width:100%;
}

div.selectro-options > div, div.selectro-options > h6{
    padding:6px 14px;
    background:transparent;
    color:rgb(80,80,80);
    font-size:1.2em;
    letter-spacing:0.1em;
}

div.selectro-options > h6{
    font-weight:600;
}

div.selectro-options > div:hover{
    background:rgb(228,94,0);
    color:white;
}