@charset "UTF-8";
/* CSS Document */

/* --------------- COMMON STYLES NOT RELATED TO SELECTRO ---------------- */

 *{
    margin:0;
    padding:0;
}

html, body{
    position:relative;
    width:100%;height:100%;
    border:none 0;
}

html{
    font-family:"Open Sans Condensed", sans-serif;
    font-size:12px;
    color:rgb(255,255,255);
}

body{
    background:rgb(0,0,0);
}

/* --------------- SELECTRO SPECIFIC STYLES ---------------- */

div.selectro-wrap{
    display:inline-block;
    width:200px;
    margin:60px;
}

div.selectro{
    background:rgb(255,255,255);
    border:rgb(180,180,180) 1px solid;
    border-radius:3px;
    color:rgb(80,80,80);
    padding:6px 14px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
    font-size:1.5em;
    letter-spacing:0.1em;
}

div.selectro span.selectro-arrow{
    margin:9px 0 0 9px;
    float:right;
}

div.selectro.selected{
    border-radius:3px 3px 0 0;
    border-bottom-color:rgb(222,222,222);
}

div.selectro-options{
    background:rgb(255,255,255);
    border-color:rgb(180,180,180);
    border-style:solid;
    border-width:0 1px 1px 1px;
    border-radius:0 0 3px 3px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
    width:198px;
}

div.selectro-options > div, div.selectro-options > h6{
    padding:6px 14px;
    background:transparent;
    color:rgb(80,80,80);
    font-size:1.2em;
    letter-spacing:0.1em;
}

div.selectro-options > h6{
    font-weight:600;
}

div.selectro-options > div:hover{
    background:rgb(228,94,0);
    color:white;
}