@charset "UTF-8";
/* CSS Document */

/* --------------- BOF ---------------- */

/* --------------- SELECTRO BASE STYLES ---------------- */

div.selectro-overlay{
    position:fixed;
    top:0;left:0;
    width:100%;height:100%;
    display:block;
}

div.selectro-overlay.active{
    display:block;
}

div.selectro-wrap *{
    box-sizing:border-box;
}

div.selectro-wrap{
    box-sizing:border-box;
    position:relative;
    min-width:200px;
}

div.selectro, div.selectro.multiple{
    background:rgb(217,217,217);
    border:rgb(180,180,180) 1px solid;
    border-radius:3px;
    color:rgb(80,80,80);
    padding:6px 14px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
    font-size:1.5em;
    letter-spacing:0.1em;
    overflow:visible;
    position:relative;
}

div.selectro:focus, div.selectro.multiple{
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    outline:none;
    background:rgb(255,255,255);
}

div.selectro.multiple{
    width:100%;
    max-width:400px;
    padding:3px 0 0 3px;
    overflow:auto;
    cursor:text;
}

div.selectro-multiple-input-wrap{
    margin:0 14px 0 11px;
    float:left;
}

div.selectro-option-multiple{
    padding:2px 6px 2px 12px;
    margin:0 3px 3px 0;
    float:left;
    overflow:auto;
    background:rgb(47,91,255);
    color:rgb(255,255,255);
    font-size:0.7em;
    border-radius:2px;
    line-height: 24px;
    cursor:default;
}

div.selectro-option-multiple-remove{
    float:right;
    margin:3px 0 0 6px;
    width:18px;height:18px;
    border-radius:12px;
    background:transparent url(img/SelectroSprite-48x48.png) no-repeat -18px top;
    background-size:36px 36px;
}

div.selectro-option-multiple-remove:hover{
    cursor:pointer;
}

input.selectro-multiple-input{
    float:none;
    display:block;
    min-width:25px;
    max-width:100%;
    padding:3px 0 6px;
    font-size:1.0em;
    border:none 0;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    outline:none;
}

div.selectro span.selectro-label{
    color:rgb(80,80,80);
}

div.selectro span.selectro-label.default{
    color:rgba(80,80,80,0.6);
}

div.selectro span.selectro-arrow{
    display:inline-block;
    position:relative;
    vertical-align:middle;
    border-color:rgb(140,140,140) transparent transparent transparent;
    border-width:7px 5px 0 5px;
    border-style:solid;
    width:0;height:0;
    margin:9px 0 0 9px;
    float:right;
}

div.selectro.selected, div.selectro.multiple.selected{
    border-radius:3px 3px 0 0;
    border-bottom-color:rgb(222,222,222);
    background:rgb(255,255,255);
}

div.selectro-options-wrap{
    background:rgb(255,255,255);
    border-color:rgb(180,180,180);
    border-style:solid;
    border-width:0 1px 1px 1px;
    border-radius:0 0 3px 3px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
    width:100%;
    position:absolute;
    display:none;
}

div.selectro-options{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
    width:100%;
}

div.selectro-search-wrap{
    border:rgba(180,180,180,0.7) 1px solid;
    overflow:auto;
    border-radius:3px;
    margin:6px;
}

input.selectro-search{
    box-sizing:border-box;
    display:block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    outline:none;
    color:rgb(80,80,80);
    border:none 0;
    padding:4px 6px;
    font-size:1.0em;
}

div.selectro-search-icon{
    float:right;
    width:24px;height:24px;
    background:transparent url(img/SelectroSprite-48x48.png) no-repeat left -24px;
}

div.selectro-no-matches{
    padding:6px 14px;
    background:transparent;
    color:rgb(80,80,80);
    font-size:1.2em;
    letter-spacing:0.1em;
}

div.selectro-options div.selectro-option, div.selectro-options h6.selectro-optgroup-header{
    padding:6px 14px;
    background:transparent;
    color:rgb(80,80,80);
    font-size:1.2em;
    letter-spacing:0.1em;
}

div.selectro-options div.selectro-option{
    display:block;
    position:relative;
}

div.selectro-options h6.selectro-optgroup-header{
    font-weight:600;
}

div.selectro-options div.selectro-option.highlighted,
div.selectro-options div.selectro-option:hover{
    background:rgb(47,91,255);
    color:white;
}

div.selectro-options div.selectro-option.disabled,
div.selectro-options div.selectro-option.disabled:hover{
    background:transparent;
    color:rgba(80,80,80,0.6);
}

/* --------------- EOF ---------------- */
